 <div class="card col-lg-3 mx-auto">
  <div class="card-body">
    <h1 class="brand text-center">Story Writer</h1> <br/>

  <div class="row">
    <div class="col-md-12 col-xs-12 col-sm-6">
      <hr class="login-hr">
      <span class="login-spanor">Sign up</span>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
      <div class="broker-logo"></div>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "a@a.com" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, class: "form-control", placeholder: "***" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "***" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-circle log-btn" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>